<div id="desgaste" class="cp-graph"></div>

<script>
    // Graph bubble-chart
    anychart.onDocumentReady(function () {

  // create data
  var data1 = [
      {% for pro, valores in comparativa_de_productos.items %}
          {x: "{{valores.2}}", value: "{{valores.0}}", size: "{{valores.4}}", name: "{{valores.6}}"},
      {% endfor %}
  ];

  // create data
  var data2 = [
      {% for pro, valores in comparativa_de_productos.items %}
          {x: "{{valores.2}}", value: "{{valores.4}}", size: "", name: ""},
      {% endfor %}
  ];

  // create data
  var data3 = [
      {% for pro, valores in comparativa_de_productos.items %}
          {x: "{{valores.2}}", value: "{{valores.2}}", size: "", name: ""},
      {% endfor %}
  ];

  

  // create a chart
  var chart = anychart.cartesian();

  chart.yScale().ticks().interval(100000);
  chart.yAxis().labels().format("{%value}");

  var scale = anychart.scales.ordinal();

  // adjusting labels
  var yTicks = chart.yScale().ticks();
  yTicks.interval(100000);
  var yLabels = chart.yAxis().labels();
  yLabels.format("{%value}{scale: (1000)(1000)(1000)|(K)(M)(B)}");

  var scale = anychart.scales.ordinal();

  chart.xScale(scale);

  //turn on chart animation
  chart.animation(true);

  // set the interactivity mode
  chart.tooltip().displayMode('union');
  chart.interactivity().hoverMode("by-x");

  // create the first series and set the data
  var series1 = chart.bubble(data1);
  series1.name("Km proyectado");

  // configure the visual settings of the first series
  series1.normal().fill("#A349A4");
  series1.hovered().fill("#A349A4", 0.3);
  series1.selected().fill("#A349A4", 0.5);
  series1.normal().stroke("white");
  series1.hovered().stroke("2 white");
  series1.selected().stroke("4 white");

  // create the first series and set the data
  var series2 = chart.marker(data2);
  series2.name("%");

  // configure the visual settings of the first series
  series2.normal().fill("#A349A4");
  series2.hovered().fill("#A349A4", 0.3);
  series2.selected().fill("#A349A4", 0.5);
  series2.normal().stroke("white");
  series2.hovered().stroke("2 white");
  series2.selected().stroke("4 white");


  // create the first series and set the data
  var series3 = chart.marker(data3);
  series3.name("CPK");

  // configure the visual settings of the first series
  series3.normal().fill("#202020");
  series3.hovered().fill("#202020");
  series3.selected().fill("#202020");
  series3.normal().stroke("#202020");
  series3.hovered().stroke("#202020");
  series3.selected().stroke("#202020");

  series1.labels(true);

  // set the color for the text of the labels
  series1.labels().fontColor('white');
  series1.hovered().labels().fontColor("white");
  series1.selected().labels().fontColor("white");

  series1.labels().fontSize(10);


    // set the maximum size of the bubble
    chart.maxBubbleSize('30%');

    // set the minimum size of the bubble
    chart.minBubbleSize('20%');

    // set series labels text template
    var seriesLabels = chart.getSeries(0).labels().enabled(true);
    seriesLabels.format("{%name}");

    // enable the legend
    chart.legend(false);

    // set chart title text settings
    // chart.title('Comparativa de Productos');
    var title = chart.title();
    title.align('left');
    title.fontColor('#fff');
    title.fontSize(18);
    title.fontWeight(600);

    // set the titles of the axes
    chart.xAxis().title("");
    chart.yAxis().title("");

    // create scale for line series and extraYAxis
    // it force line series to not stuck values with over series
    var scale = anychart.scales.linear();

    // adding red line to emphasize zero of extra axis
    var lineMarker = chart.lineMarker();
    lineMarker.layout("vertical");
    lineMarker.scale(scale);
    lineMarker.value(0.6000);
    lineMarker.stroke({
    // set stroke thickness
    thickness: 3,
    // set stroke color
    color: "#026cf5",
    // set dashes and gaps
    dash: "3"
    });

    // set the container id
    chart.container("desgaste");

    //Set Background
    var background = chart.background();
    background.stroke('0 #000');
    background.corners();
    background.enabled(false);

    // initiate drawing the chart
    chart.draw();

    // chart credits false
    var credits = chart.credits();
    credits.enabled(false);
    });
</script>