{% extends '../base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/formularios.css' %}">
<title>Formulario de usuario</title>
{% endblock %}

{% block content %}

<main class="main-cont">

  <header class="head-cont">
    <div class="logo">
      <img src="{% static 'images/aeto.svg' %}" alt="logo">
    </div>

    <h1>Formulario de usuario</h1>
  </header>

  <section class="form-container">
    <form action="{% url 'dashboards:usuarioFormulario' %}" class="form-content" method="POST">
      {% csrf_token %}
      <fieldset class="flex-row space-between">
        <h2 class="form-title">Nuevo usuario</h2>

        <nav class="flex-row">
          <button class="btn btn-success disabled" type="submit">
            <span class="icon-checkmark"></span>
          </button>
          <button class="btn btn-danger" type="reset">
            <span class="icon-cross"></span>
          </button>
        </nav>
      </fieldset>
      <article class="form-content__flex">
        {% include './forms/form-usuario.html' %}
      </article>
    </form>
  </section>

</main>

<script src="{% static 'js/inputChange.js' %}"></script>
<script>
  document.addEventListener('DOMContentLoaded', () => validPassword());

  const validPassword = () => {
    const password = document.querySelector('input[name="password"]');
    const password2 = document.querySelector('input[name="password2"]');
    
    password2.addEventListener('keyup', (e) => {
      if (password.value !== password2.value) {
        password2.classList.add('invalid');
      } 
      if (password.value === password2.value) {
        password2.classList.remove('invalid');
      } 
    });
  };
</script>

{% endblock %}
