{% extends 'base.html' %}

{% block head %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/formularios.css' %}">
  <title>Formulario de vehículo</title>
{% endblock head %}

{% block content %}

<main class="main-cont">

  <header class="head-cont">
    <div class="logo">
      <img src="{% static 'images/aeto.svg' %}" alt="logo">
    </div>

    <h1>Formulario de sucursal</h1>
  </header>

  <section class="form-body">

    <form action="" class="form-body_form">
      {% include './forms/formVehiculo.html' %}
    </form>

    <div class="table-container">
      <table class="main-table">
        <thead>
          <tr>
            <th>Acciones</th>
            <th>Número económico</th>
            <th>Modelo</th>
            <th>Marca</th>
            <th>Aplicación</th>
            <th>Clase</th>
            <th>Configuración</th>
            <th>Presión establecida 1</th>
            <th>Presión establecida 2</th>
            <th>Presión establecida 3</th>
            <th>Presión establecida 4</th>
            <th>Presión establecida 5</th>
            <th>Presión establecida 6</th>
            <th>Presión establecida 7</th>
            <th>KM diario máximo</th>
            <th>Estatus</th>
            <th>Nuevo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="flex-row" style="flex-wrap: nowrap;">
                <a class="btn btn-download">
                  <i class="icon-pencil"></i>
                </a>
                <button class="btn btn-danger">
                  <i class="icon-trash"></i>
                </button>
              </div>
            </td>
            <td>data</td>
            <td>data</td>
            <td>data</td>
            <td>data</td>
            <td>data</td>
            <td>data</td>
            <td>data</td>
            <td>data</td>
            <td>data</td>
            <td>data</td>
            <td>data</td>
            <td>data</td>
            <td>data</td>
            <td>data</td>
            <td>data</td>
            <td>data</td>
          </tr>
        </tbody>
      </table>
    </div>

  </section>

</main>

<script src="{% static 'js/inputChange.js' %}"></script>

{% endblock content %}
