*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  background-color: #363636;
  color: #fff;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

body {
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.25rem 0;
}

h1 {
  font-size: 60px;
}
