/* ? Colors */

.good {
  background-color: var(--main-blue);
}

.yellow {
  background-color: var(--yellow-color);
}

.bad {
  background-color: var(--red-color);
}

.purple {
  background-color: var(--purple-color);
}

.par-llantas,
.par-doble-llanta {
  align-items: center;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: auto 1fr auto;
  padding: 1rem;
}

.tire-relative {
  color: white;
  text-decoration: none;
  position: relative;
}

.tire__top,
.tire__bottom {
  font-size: 0.75rem;
  position: absolute;
  left: 0;
  right: -1px;
  /* padding: 0.25rem; */
  text-align: center;
  width: auto;
}

.tire__top:hover .tire__title,
.tire__bottom:hover .tire__title {
  opacity: 1;
  visibility: visible;
}

.tire__top:hover .tire__data,
.tire__bottom:hover .tire__data {
  opacity: 0;
  visibility: hidden;
}

.tire__top {
  border-radius: 0.25rem 0.25rem 0 0;
  top: 0;
}

.tire__bottom {
  border-radius: 0 0 0.25rem 0.25rem;
  bottom: 0;
}

.tire__bottom .tire__title {
  font-size: 0.5rem;
  top: 3px;
}

.tire__title {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  transition: all 0.4s ease-in;
  left: 0;
  right: 0;
}

.tire__data {
  font-size: 1rem;
}

.icon-central-axle,
.icon-da {
  background-color: #fff;
}

.icon-tire2 {
  font-size: 5rem;
}

.head-cont {
  gap: 1rem;
  flex-wrap: wrap;
}

.main-cont {
  display: grid;
  grid-template-rows: auto 1fr;
}

.smart__container {
  background-color: var(--head-bg);
  margin: 1rem;
}

.config__container {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: center;
  margin: auto;
  width: 90%;
}

@media screen and (min-width: 1024px) {
  .par-llantas,
  .par-doble-llanta {
    width: 80%;
  }

  .icon-tire2 {
    font-size: 20vmin;
  }

  .config__container {
    width: 70%;
  }
}
