.btn-download:disabled {
  background-color: gainsboro;
  color: gray;
  pointer-events: none;
}

.main-cont {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.container {
  display: grid;
  gap: 0.5rem;
  grid-template-rows: auto 1fr;
  height: 100%;
  width: 95%;
  padding: 1rem 0;
  margin: auto;
}

.main__content {
  display: none;
}

.main__content.on-view {
  display: grid;
}

.tables__table {
  display: none;
  position: absolute;
  width: 100%;
}

.tables__table.on-table {
  display: table;
}

.dash__content {
  display: none;
}

.dash__content.active {
  display: block;
}

.config__container-table {
  height: 100%;
  position: relative;
}

.config__data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  overflow-y: auto;
  position: relative;
  width: 100%;
}

.config__data::-webkit-scrollbar {
  width: 10px;
}

.config__data::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: black;
}

.config__data::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: gray;
}

.dash__data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  height: 100%;
}

.score-card {
  align-items: center;
  background-color: var(--main-background);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  padding: 0.25rem;
  text-align: center;
}

.chart__container {
  background-color: #202020;
  display: flex;
  flex-flow: column nowrap;
  padding: 0.5rem;
}

.container_fluid {
  height: 100%;
  position: relative;
  width: 100%;
}

.chart {
  height: 100%;
  position: absolute;
  width: 100%;
}

.col-2 {
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.grid-4 {
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.config__container {
  display: grid;
  grid-template-rows: repeat(2, 50%);
  background-color: #202020;
  padding: 1rem;
}

.config__config {
  align-self: center;
}

.pop-out-llanta {
  background-color: #000;
  border-radius: 0.25rem;
  margin-left: 3rem;
  opacity: 0;
  padding: 0.75rem;
  pointer-events: none;
  position: absolute;
  transition: all 0.2s ease-in-out;
  visibility: hidden;
  z-index: 2;
}

.tireDecoration {
  position: relative;
}

.tireDecoration:hover .pop-out-llanta {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
  z-index: 3;
}

.about-btn > .pop-out-llanta {
  top: 30px;
  right: 0;
}

.pop-out-llanta p {
  font-family: var(--font);
  color: white;
  font-size: 0.85rem;
  margin: 0.25rem 0;
}

.par-llantas,
.par-doble-llanta {
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: center;
}

.doble-llanta {
  display: flex;
  gap: 4px;
}

.tireDecoration {
  text-decoration: none;
  color: white;
}

.icon-tire2 {
  font-size: 10vmin;
}

.icon-central-axle {
  font-size: 2vmin;
}

.dash__nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.good {
  color: var(--main-blue);
}

.yellow {
  color: var(--yellow-color);
}

.bad {
  color: var(--red-color);
}

.purple {
  color: var(--purple-color);
}

.config__nav {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.config__table {
  width: 100%;
  border-collapse: collapse;
}

.config__table th {
  border-bottom: 2px solid var(--border-alt-button);
  padding: 0.5rem;
  text-align: center;
}

.config__table td {
  padding: 0.5rem;
  text-align: center;
}
.config__table thead {
  background-color: #213944;
}

.config__table tbody tr:nth-child(even) {
  background-color: #213944;
}

.bitacora-title {
  text-align: center;
}

.bit-dash {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.bitacora {
  background: #202020;
  padding: 1rem;
  border-radius: 0.25rem;
}

.dash__container {
  background: #202020;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;
  padding: 0.5rem;
}

.cont-chart {
  height: 100%;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.dash__content {
  height: 100%;
}

.dash__chart {
  height: 100%;
}

.cont-right {
  height: 100%;
  position: relative;
}

#lineChart {
  position: absolute;
  height: 100%;
  width: 100%;
}

.buttons {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.buttons button {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.buttons button span {
  font-size: 1.25rem;
}

.space-around {
  width: 100%;
  justify-content: space-around;
}
