.main__container {
  align-items: center;
  background-color: #202020;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  margin: 1rem;
}

.config__container {
  align-items: center;
  display: flex;
  height: 100%;
}

.config__container > * {
  flex: 1 1 auto;
}

.form__container {
  background-color: var(--main-background);
  border-radius: 0.25rem;
  height: fit-content;
  padding: 1rem;
}

.form__wrapper {
  display: flex;
  gap: 1rem;
  flex-flow: column nowrap;
}
