html {
  background-color: #fff;
  /* font-family: 'Montserrat', Arial, Helvetica, sans-serif; */
}

body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  gap: 4rem;
  min-height: auto;
  color: #000;
  overflow-x: hidden;
  margin: auto;
  max-width: 950px;
}

thead {
  background: #add8e6;
}

img {
  height: auto;
  object-fit: cover;
  width: 100%;
}

.logo {
  height: 125px;
  width: 125px;
}

.space-between {
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
}

/* CUSTOM CSS */

.report__title {
  font-size: 2.25rem;
  border-bottom: medium solid black;
}

.report__head {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  gap: 2rem;
  justify-content: space-between;
}

.report__inspeccion {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  gap: 2rem;
  justify-content: flex-start;
  margin-top: 1rem;
}

.report__details {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.report__card {
  flex: 1 1 auto;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
}

.report__card-title,
.report__card-body {
  padding: 0.5rem;
}

.report__card-title {
  background-color: #000;
  color: #fff;
}

.report__card-body {
  background-color: gray;
  color: #000;
}

.main__container {
  align-content: center;
  display: grid;
  /* flex: 1 1 auto; */
  grid-template-columns: 1fr auto 1fr;
}

.content__wrapper {
  padding: 1rem;
  position: relative;
  text-align: center;
}

.content__wrapper.center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.config__container {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  margin: auto;
  width: 90%;
}

.tire .icon-tire2 {
  font-size: 5rem;
}

.shaft {
  background-color: #000;
  height: 0.5rem;
  flex: 1 1 auto;
  width: 100%;
}

.tire__container {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  justify-content: space-around;
}

.tire__content {
  text-align: center;
}

.tire {
  position: relative;
}

.double-tire {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.25rem;
}

.tire .tire__tag {
  border-radius: 0.25rem;
  color: #fff;
  font-size: 0.75rem;
  font-weight: bold;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

/* colors */

.tire__tag.good {
  background-color: var(--main-blue);
}

.tire__tag.yellow {
  background-color: var(--yellow-color);
}

.tire__tag.bad {
  background-color: var(--red-color);
}

/*  */

.tire__tag.up {
  top: 0;
}

.tire__tag.down {
  bottom: 0;
}

.tire__tag.pos {
  border-radius: 50%;
  margin: auto;
  padding: 0.25rem;
  top: 35%;
  width: fit-content;
}

.center span {
  font-size: 2.5rem;
}

.inspection {
  gap: 0;
}

.main__container-inspection {
  align-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.report__inspection {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.report__card-inspection {
  flex: 1 1 auto;
  overflow: hidden;
  margin-top: 2rem;
}

.report__card_title {
  color: #333333;
}

.report__card_body {
  font-weight: 600;
  color: black;
}

.report__card-evaluacion {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

.report__card_rojo {
  background: red;
  height: 30px;
  width: 30px;
}
.report__card_amarillo {
  background: yellow;
  height: 30px;
  width: 30px;
}
.report__card_azul {
  background: var(--main-blue);
  height: 30px;
  width: 30px;
}

.inspection {
  margin-bottom: 5rem;
}

.config__container-table {
  border: thin solid #000;
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
}

.config__table {
  border-collapse: collapse;
  width: 100%;
}

/* .th-table ,
.td-table{

} */

.list__cont {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  padding: 1rem;
  width: 100%;
}

.title-list {
  padding: 0.5rem;
}

.config__table td {
  text-align: center;
  padding: 1rem;
}

.config__table td span {
  font-size: 3rem;
  padding: 0.25rem;
  border: 2px solid #000;
  border-radius: 0.5rem;
}

.mb-8 {
  margin-bottom: 15rem;
}
