.good {
  background-color: var(--main-blue);
}

.yellow {
  background-color: var(--yellow-color);
}

.bad {
  background-color: var(--red-color);
}

.purple {
  background-color: var(--purple-color);
}

.tire__top,
.tire__bottom {
  font-size: 0.75rem;
  position: absolute;
  left: 0;
  right: -1px;
  /* padding: 0.25rem; */
  text-align: center;
  width: auto;
}

.tire__top:hover .tire__title,
.tire__bottom:hover .tire__title {
  opacity: 1;
  visibility: visible;
}

.tire__top:hover .tire__data,
.tire__bottom:hover .tire__data {
  opacity: 0;
  visibility: hidden;
}

.tire__top {
  border-radius: 0.25rem 0.25rem 0 0;
  top: 0;
}

.tire__bottom {
  border-radius: 0 0 0.25rem 0.25rem;
  bottom: 0;
}

.tire__bottom .tire__title {
  font-size: 0.5rem;
  top: 3px;
}

.tire__title {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  transition: all 0.4s ease-in;
  left: 0;
  right: 0;
}

.tire__data {
  font-size: 0.75rem;
}

h2 {
  text-align: center;
}

.main-cont {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  width: 95%;
  gap: 0.5rem;
  margin: auto;
  padding: 1rem 0;
  height: 100%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  height: 100%;
}

.card {
  background: #202020;
  border-radius: 0.25rem;
  padding: 1rem;
  height: 100%;
}

.card__config {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto 1fr;
}

.card__tire {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.tire-config > .icon-tire2 {
  font-size: 20vmin;
}

.config__nav {
  display: grid;
  grid-template-columns: 2fr 4fr 4fr;
  gap: 0.25rem;
}

.pos {
  text-align: center;
}

.config__cont {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;
}

.config__cont-table {
  display: none;
}

.config__cont-table.on-table {
  display: block;
}

.tire-number {
  transition: all 0.4s ease;
  pointer-events: none;
}

.tire-config {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.config__table {
  width: 100%;
  border-collapse: collapse;
}

tbody tr:nth-child(even) {
  background-color: #213944;
}

thead {
  border-bottom: thin solid var(--border-alt-button);
}

th,
td {
  padding: 0.5rem;
  text-align: center;
}

.td-table3 {
  padding: 0.5rem;
  text-align: center;
}
.config__table thead {
  background-color: #213944;
}

.card__dash {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 0.5rem;
}

.card__dash_nav {
  display: flex;
  gap: 0.5rem;
}

.h2-dash {
  text-align: start;
}

.card__dash_dash {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.dash__numbers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.sub-card {
  margin: 1rem;
  background-color: var(--main-background);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.sub-card1 {
  background-color: var(--main-background);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.dash__chart {
  margin: 1rem;
  position: relative;
}

#lineChart,
#spline-chart {
  position: absolute;
  width: 100%;
  height: 100%;
}

.card__dash_dash {
  display: none;
}

.card__dash_dash.on-view {
  display: grid;
}

@media screen and (min-width: 1024px) {
  .circle1 {
    height: 50px;
    width: 50px;
  }
}

@media screen and (min-width: 1920px) {
  .circle1 {
    height: 100px;
    width: 100px;
  }
}
