.main-cont {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.tire__container {
  margin: auto;
}

.tire__data {
  font-size: 2rem;
}

.icon-tire2 {
  font-size: 35vmax;
}

.tire__box {
  background-color: var(--main-background);
  height: 100%;
  padding: 1rem;
}

.tire__medium {
  bottom: 45%;
}

@media screen and (min-width: 1024px) {
}
