<form class="container">
          
  <div class="container-fluid">
    <aside class="form-aeto">

      <!-- Start input -->
      <div class="form__group field">
        <input
          class="form__field"
          type="text"
          placeholder="observacion"
          name="observacion"
          autocomplete="off"
          required
        />
        <label for="observacion" class="form__label">
          Observación
        </label>
      </div>
      <!-- End input -->

      <!-- Start input -->
      <div class="form__group field">
        <input
          class="form__field"
          type="text"
          placeholder="color"
          name="color"
          autocomplete="off"
          required
        />
        <label for="color" class="form__label">
          Color
        </label>
      </div>
      <!-- End input -->

      <!-- Start input -->
      <div class="form__group field">
        <input
          class="form__field"
          type="text"
          placeholder="icono"
          name="icono"
          autocomplete="off"
          required
        />
        <label for="icono" class="form__label">
          Icono
        </label>
      </div>
      <!-- End input -->

    </aside>
  </div>

  <nav class="btn-group">
    <button class="btn btn-success">
      <span class="icon-plus6"></span>
    </button>
    <button class="btn btn-download">
      <span class="icon-download"></span>
    </button>
  </nav>
</form>