<form class="container">
          
  <div class="container-fluid">
    <aside class="form-aeto">

      <!-- Start input -->
      <div class="form__group field">
        <input
          class="form__field"
          type="text"
          placeholder="razon"
          name="razon"
          autocomplete="off"
          required
        />
        <label for="razon" class="form__label">
          Razón
        </label>
      </div>
      <!-- End input -->

    </aside>
  </div>

  <nav class="btn-group">
    <button class="btn btn-success">
      <span class="icon-plus6"></span>
    </button>
    <button class="btn btn-download">
      <span class="icon-download"></span>
    </button>
  </nav>
</form>