{% extends 'base.html' %}

{% block head %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/nueva.css' %}" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Antes de renovar</title>

{% endblock %}

{% block content %}
<div class="all-cont">
  <div class="top-nav">
    <a href="{% url 'dashboards:almacen' %}">
      <span class="icon-arrow-left2"></span>
    </a>
    <h2>Antes de renovar</h2>
    <input class="buscar" type="search" name="" placeholder="Buscar..." />

    <nav class="icons">
      <button class="btn btn-wh">
        <a href="{% url 'dashboards:ordenSalidaRen' %}">
          <span class="icon-office"></span>
        </a>
      </button>
      <button class="btn btn-wh">
        <a href="{% url 'dashboards:stockDestino' %}">
          <span class="icon-money"></span>
        </a>
      </button>
      <button class="btn btn-wh">
        <span class="icon-truck"></span>
      </button>
      <button class="btn filter btn-wh">
        <span class="icon-filter"></span>
      </button>
    </nav>
  </div>
  <!-- Filtro -->
  {% include 'Filter.html' %}
  <!--  -->

  <div class="container" id="tire-card"></div>
</div>

<script>
  // Cargar la información a la carga del contenido
  document.addEventListener('DOMContentLoaded', (e) => {
    tiresCards();
    selectCard();
    filterMenu();
    priceRange();
  });

  const priceRange = () => {
    const rangeInput = document.querySelectorAll('.range-input input');
    const priceInput = document.querySelectorAll('.input-group input');
    const range = document.querySelector('.slider .progress');
    let gap = 10;

    priceInput.forEach((input) => {
      input.addEventListener('input', (e) => {
        let minPrice = parseInt(priceInput[0].value),
          maxPrice = parseInt(priceInput[1].value);

        if (maxPrice - minPrice >= gap && maxPrice <= rangeInput[1].max) {
          if (e.target.className === 'input-value') {
            rangeInput[0].value = minPrice;
            range.style.left = (minPrice / rangeInput[0].max) * 100 + '%';
          } else {
            rangeInput[1].value = maxPrice;
            range.style.right =
              100 - (maxPrice / rangeInput[1].max) * 100 + '%';
          }
        }
      });
    });

    rangeInput.forEach((input) => {
      input.addEventListener('input', (e) => {
        let minVal = parseInt(rangeInput[0].value),
          maxVal = parseInt(rangeInput[1].value);
        if (maxVal - minVal < gap) {
          if (e.target.className === 'range-min') {
            rangeInput[0].value = maxVal - gap;
          } else {
            rangeInput[1].value = minVal + gap;
          }
        } else {
          priceInput[0].value = minVal;
          priceInput[1].value = maxVal;
          range.style.left = (minVal / rangeInput[0].max) * 100 + '%';
          range.style.right =
            100 - (maxVal / rangeInput[1].max) * 100 + '%';
        }
      });
    });
  };

  const tiresCards = () => {
    const container = document.getElementById('tire-card');

    {% for llanta in llantas_antes_de_renovar %}
    // const randomNumber{{llanta.id}} = Math.floor(Math.random() * 100);
    container.innerHTML += `
    <div class="card cursor-pointer">

      <div class="card_img">
        <a class="tireDecoration" href="{% url 'dashboards:tireDetail' llanta.id %}">
        <span class="icon-tire"></span>
        </a>
        <span class="card-title"><i>#{{llanta.numero_economico}}</i></span>
      </div>

      <div class="card_group">
        <div class="card_group-label">
          <span class="card-title"><i>Profunidad:</i></span>
          <p><i>{{ llanta.ultima_inspeccion.min_profundidad }}</i></p>
        </div>
        <div class="card_group-label">
          <span class="card-title"><i>Producto:</i></span>
          <p><i>{{ llanta.producto }}</i></p>
        </div>
        <div class="card_group-label">
          <span class="card-title"><i>Fecha:</i></span>
          <p><i>{{ llanta.ultima_inspeccion.fecha_hora }}</i></p>
        </div>
      </div>

      <div class="brand good"><div>

    </div>
  `;
  {% endfor %}
  };

  const selectCard = () => {
    const cards = document.querySelectorAll('.card');

    cards.forEach((card) => {
      card.addEventListener('click', (e) => {
        card.classList.toggle('active');
      });
    });
  };

  const filterMenu = () => {
    const menu = document.querySelector('.filter-menu');
    const close = document.querySelector('.btn-close');

    document.addEventListener('click', ({ target }) => {
      if (target.matches('.filter *')) {
        menu.classList.add('active');
      }
    });

    close.addEventListener('click', (e) => menu.classList.remove('active'));

    document.addEventListener('submit', (e) => {
      if (e.target.matches('.filter-form')) {
        e.preventDefault();
      }
    });
  };
</script>
{% endblock %}
