<html>
  <head>
    {%load static%}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/catalogosProducto.css' %}"
    />
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="all-cont">
      <header class="header">
        <img class="img-logo" src="{% static 'images/Grupo 66.png'%}" />
      </header>
      <div class="main-cont">
        <h1 class="main-title">CATÁLOGO DE PRODUCTOS</h1>
        <div class="containers">
          <div class="cont-left">
            <div class="container-fluid max-content">
              <div>
                <h3>Agregar productos</h3>

                <!-- <div class="dropdown">
							<ul>
								<li>
									Filtrar
								</li>
							</ul>
						</div> -->

                <form class="list">
                  
					<div class="label-form">
						<label>Marca</label>
						<input type="text">
					</div>

					<div class="label-form">
						<label>Dibujo</label>
						<input type="text">
					</div>

					<div class="label-form">
						<label>Rango</label>
						<input type="text">
					</div>
					
					<div class="label-form">
						<label>Dimensión</label>
						<input type="text">
					</div>

					<div class="label-form">
						<label>Profundidad inicial</label>
						<input type="number">
					</div>

					<div class="label-form">
						<label>Código</label>
						<input type="text">
					</div>

					<div class="label-form">
						<label>Aplicación</label>
						<input type="text">
					</div>

					<div class="label-form">
						<label>Vida</label>
						<input type="text">
					</div>

					<div class="label-form">
						<label>Precio Actual</label>
						<input type="number">
					</div>

					<div class="label-form">
						<label>Km esperado</label>
						<input type="number">
					</div>

                </form>
              </div>

              <div class="btn-container">
                <button class="btn1">Añadir</button>
                <button class="btn">Descargar</button>
                <button class="btn">Edición</button>
              </div>
            </div>
          </div>
          <div class="cont-right">
            <h3 class="title-cont">Productos</h3>
            <div class="table-cont">
              <table class="products-table">
                <thead>
                  <tr>
                    <th>Marca</th>
                    <th>Dibujo</th>
                    <th>Rango</th>
                    <th>Dimensión</th>
                    <th>Profundidad inicial</th>
                    <th>Código</th>
                    <th>Aplicación</th>
                    <th>Vida</th>
                    <th>Precio Actual</th>
                    <th>Km esperado</th>
                  </tr>
                </thead>

                <tbody>
                  <!-- Content -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      /* DropDown */

      const dropdown = (button = '', container = '') => {
        /*  */
        const btn = document.querySelector(button);
        const dropdown = document.querySelector(container);
        /* Dropdown event handler */
        document.addEventListener('click', (e) => {
          if (e.target === btn) {
            document.getElementById(
              'drop'
            ).outerHTML = `<span id="drop">&blacktriangledown;</span>`; // Coloca la flecha hacía abajo, indicando que el menú esta abierto

            dropdown.classList.toggle('active'); // Activa y desactiva la clase active cada vez que se hace click en el botón del dropdown

            /* Si el dropdown esta activo, y se vuelve hacer click, se volvera a poner el triangulo hacía la derecha */
            if (!dropdown.classList.contains('active'))
              document.getElementById(
                'drop'
              ).outerHTML = `<span id="drop">&blacktriangleright;</span>`;
          }
        });
      };

      dropdown('.drop-btn', '.dropdown-content');

      /* End Dropdown */
    </script>
  </body>
</html>
