{% extends 'base.html' %}

{% block head %}
  {%load static%}
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/catalogos.css' %}"
  />
  <meta charset="utf-8" />
  <title>Catalogo de observaciones</title>
{% endblock %}

{% block content %}
  <div class="all-cont animate__animated animate__fadeIn">
    <header class="header">
      <div class="logo">
        <img class="img-logo" src="{% static 'images/aeto.svg'%}" alt="logo" />
      </div>
      <h1 class="main-title">CATÁLOGO DE RECHAZOS</h1>
    </header>
    <main class="main-cont">
        <div class="cont-left">
          <header class="section-head">
            <h2 class="section-title">Agregar rechazo</h2>
          </header>
          {% include 'catalogos-forms/rechazo-form.html' %}
        </div>
        <div class="cont-right">
          <header class="section-head">
            <h2 class="section-title">Rechazo</h2>
          </header>
          <div class="table-cont">
            <table class="main-table">
              <thead>
                <tr>
                  <th>Razón</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit maxime culpa optio commodi fuga, iure magni in saepe tempore! Voluptates cum et quam provident rerum doloribus vel esse id reprehenderit.
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </main>
  </div>

  <script></script>
{% endblock %}