{% extends 'base.html' %}

{% block head %}
{% load static %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/configVehiculo.css' %}"
/>
<title>Smart View</title>
{% endblock %}

{% block content %}
<div class="main-cont">
  <header class="head-cont">
    <div class="logo">
      <img src="{% static 'images/aeto.svg' %}" alt="logo">
    </div>
    <h1>Smart View</h1>
  </header>
  <h1 class="main-title">Configuración del Vehículo</h1>
  <div class="main-cont">

    {% for eje in ejes %}

      {% if eje|length == 2 %}

        <div class="par-llantas">
          <div class="tire-relative">
            <div class="tire__top {{ color }}">
              <span class="tire__title">Presión</span>
              <span class="tire__data">
                {{eje.0.presion_de_entrada}}
              </span>
            </div>
            
            <span class="icon-tire2"></span>
            
            <div class="tire__bottom {{ color }}">
                <span class="tire__title">Profundidad</span>
                <span class="tire__data">
                    {{eje.0.ultima_inspeccion.min_profundidad}}
                </span>
            </div>
          </div>
        
          <span class="icon-central-axle"></span>
        
          <div class="tire">
            <p class="{{style|safe}}">{{eje.1.presion_de_entrada}}</p>
            <div class="good" id="llanta"></div>
            
            {% if eje.1 in llantas_azules %}

              <p class="profundidad-good">{{eje.1.ultima_inspeccion.min_profundidad}}</p>

            {% else %}

              {% if eje.1 in llantas_amarillas %}

                <p class="profundidad-yellow">{{eje.1.ultima_inspeccion.min_profundidad}}</p>

              {% else %}

                {% if eje.1 in llantas_rojas %}

                  <p class=" profundidad-bad">{{eje.1.ultima_inspeccion.min_profundidad}}</p>

                {% else %}

                  {% if eje.1 in llantas_sospechosas %}

                    <p class="">{{eje.1.ultima_inspeccion.min_profundidad}}</p>

                  {% else %}

                    <p class="">{{eje.1.ultima_inspeccion.min_profundidad}}</p>
                  
                  {% endif %}
                
                {% endif %}
              
              {% endif %}

            {% endif %}

          </div>
        </div>
        
      {% else %}
        <div class="par-doble-llanta">
          <div class="par-llantas">

            <div class="tire-relative">
              <div class="tire__top yellow">
                <span class="tire__title">Presión</span>
                <span class="tire__data">
                  {{eje.0.presion_de_entrada}}
                </span>
              </div>
              
              <span class="icon-tire2"></span>
              
              <div class="tire__bottom good">
                  <span class="tire__title">Profundidad</span>
                  <span class="tire__data">
                      {{eje.0.ultima_inspeccion.min_profundidad}}
                  </span>
              </div>
            </div>

            <div class="tire-relative">
              <div class="tire__top yellow">
                <span class="tire__title">Presión</span>
                <span class="tire__data">
                  {{eje.1.presion_de_entrada}}
                </span>
              </div>
              
              <span class="icon-tire2"></span>
              
              <div class="tire__bottom good">
                  <span class="tire__title">Profundidad</span>
                  <span class="tire__data">
                      {{eje.1.ultima_inspeccion.min_profundidad}}
                  </span>
              </div>
            </div>
          </div>
        
          <span class="icon-central-axle"></span>
        
          <div class="par-llantas">

            <div class="tire-relative">
              <div class="tire__top yellow">
                <span class="tire__title">Presión</span>
                <span class="tire__data">
                  {{eje.2.presion_de_entrada}}
                </span>
              </div>
              
              <span class="icon-tire2"></span>
              
              <div class="tire__bottom good">
                  <span class="tire__title">Profundidad</span>
                  <span class="tire__data">
                      {{eje.2.ultima_inspeccion.min_profundidad}}
                  </span>
              </div>
            </div>

            <div class="tire-relative">
              <div class="tire__top yellow">
                <span class="tire__title">Presión</span>
                <span class="tire__data">
                  {{eje.3.presion_de_entrada}}
                </span>
              </div>
              
              <span class="icon-tire2"></span>
              
              <div class="tire__bottom good">
                  <span class="tire__title">Profundidad</span>
                  <span class="tire__data">
                      {{eje.3.ultima_inspeccion.min_profundidad}}
                  </span>
              </div>
            </div>

          </div>
        </div>
      {% endif %}
    {% endfor %}
    </div>
  </main>
</div>

<script>
  const Llanta = () => {
    //Creando un web component
    const llantas = document.querySelectorAll('#llanta');

    llantas.forEach((llanta) => {
      llanta.innerHTML = `
            <span class="icon-tire2"></span>
            `;
    });
  };
  Llanta();
</script>
{% endblock %}