<head>
    {% load static %}
  <link rel="stylesheet" href="{% static 'css/config2.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
  <title>AETO WEB</title>
</head>
<body>

    {% include 'nav.html' %}

    <div class="all-cont">
        <ul>
          <li class="menu_li--left"><img src="{% static 'images/Grupo 66.png' %}" alt=""></li>
        </ul>

        <form class="horizontal">
            
            <nav class="config-nav">
                <H2>CONFIGURACIÓN</H2>
                <input type="submit" value="Guardar" class="btn btn_success disabled" id="save">
            </nav>

            <section class="horizontal_graficas--1">
                <div class="con1">
                    <div class="title_cont1">
                        <h3 class="energize-title">PARAMETROS DE OPERACIÓN</h3>
                    </div>
                    <div class="sub-con1">

                        <div class="dias_inflado">
                            <h3>Días de inflado</h3>
                            <!-- <p>Periodo 1: {{user.perfil.compania.periodo1}} días</p> -->
                            <div class="text-input">
                                <span>Periodo 1:</span>
                                <input type="number" value="{{user.perfil.compania.periodo1}}" class="number-input">
                                <span>días</span>
                            </div>
                            <!-- <p>Periodo 2: {{user.perfil.compania.periodo2}} días</p> -->
                            <div class="text-input">
                                <span>Periodo 2:</span>
                                <input type="number" value="{{user.perfil.compania.periodo2}}" class="number-input">
                                <span>días</span>
                            </div>
                        </div>

                        <div class="presion">
                            <h3>Parametro de presión</h3>
                            <div class="text-input">
                                <span>Objetivo</span>
                                <input type="number" name="" id="" class="number-input">
                            </div>
                        </div>

                        <div class="dias_visto">
                            <h3>Días de vistos</h3>

                            <div class="text-input">
                                <span>Periodo 1: </span>
                                <input type="number" class="number-input">
                            </div>

                            <div class="text-input">
                                <span>Periodo 2: </span>
                                <input type="number" class="number-input">
                            </div>

                        </div>

                        <div class="retiro">
                            <h3>Puntos de retiro</h3>
                            <div class="text-input">
                                <span>Dirección: </span>
                                <input type="number" class="number-input">
                            </div>
                            <div class="text-input">
                                <span>Tracción: </span>
                                <input type="number" class="number-input">
                            </div>
                            <div class="text-input">
                                <span>Arrastre:</span>
                                <input type="number" class="number-input">
                            </div>
                            <div class="text-input">
                                <span>Desgaste Irregular:</span>
                                <input type="number" class="number-input">
                            </div>
                            <div class="text-input">
                                <span>Dualizado:</span>
                                <input type="number" class="number-input">
                            </div>
                        </div>

                    </div>
                </div>

                <div class="con2">
                    <div class="title_cont2">
                        <div>
                            <span class="icon-cog5"><span class="icon-wrench1"></span></span>
                        </div>
                        <h3 class="energize-title">PARAMETROS DEL USUARIO</h3>
                    </div>
                    <div class="sub-con2 params">
                        <!-- <div class="correo">
                            <h4>Correo:</h4>
                            <p>{{user.email}}</p>
                        </div>
                        <div class="nombre">
                            <h4>Nombre:</h4>
                            <p>{{user.first_name}}</p>
                        </div>
                        <div class="idioma">
                            <h4>Idioma</h4>
                            <p>{{user.perfil.idioma}}</p>
                        </div>
                        <div class="unidades">
                            <h4>Unidades:</h4>
                            <p>{{user.perfil.compania.unidades}}</p>
                        </div> -->

                        <div class="form-label">
                            <label>Correo: </label>
                            <input type="email" class="form-control" value="">
                        </div>

                        <div class="form-label">
                            <label>Nombre: </label>
                            <input type="text" class="form-control" value="">
                        </div>

                        <div class="form-label">
                            <label>Idioma: </label>
                            <input type="text" list="language" value="" class="form-control">
                            <datalist id="language">
                                <option value="español">
                                <option value="english">
                            </datalist>
                        </div>

                        <div class="form-label">
                            <label>Unidades: </label>
                            <input type="text" list="unidades" value="" class="form-control">
                            <datalist id="unidades">
                                <option value="mm, psi, km"></option>
                                <option value="mm, psi, mi"></option>
                                <option value='32",psi,km'></option>
                                <option value='32",psi,mi'></option>
                                <option value='mm, bar, km'></option>
                                <option value='mm, bar, mi'></option>
                            </datalist>
                        </div>

                    </div>
                </div>

                <div class="con3">
                    <div class="title_cont3">
                        <span class="icon-upload-cloud"></span>
                        <h3 class="energize-title">ALTA VEHÍCULOS</h3>
                    </div>
                    <div class="buttons">
                        <div>
                            <form style="margin: 0" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="compania" value="{{user.perfil.compania}}">
                                <label>
                                    <input type="file" name="file"><p class="agregar">AGREGAR A LA LISTA DE EXCEL</p>
                                </label>
                                <button class="btn btn_success w-100" type="submit">Continuar</button>
                            </form>
                        </div>
                        <a href="https://drive.google.com/uc?export=download&id=1Lg7iQZf_N3bwSjutnlWAJwF5mlPXERai" class="btn btn-redirect">DESCARGAR FORMATO EXCEL</a>
                    </div>
                </div>
                <div class="con4">
                    <div class="title_cont3">
                        <span class="icon-upload-cloud"></span>
                        <h3 class="energize-title">ALTA DE LLANTAS</h3>
                    </div>
                    <div class="buttons">
                        <div>
                            <form style="margin: 0" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="compania" value="{{user.perfil.compania}}">
                                <label>
                                    <input type="file" name="file"><p class="agregar">AGREGAR A LA LISTA DE EXCEL</p>
                                </label>
                                <button class="btn btn_success w-100" type="submit">Continuar</button>
                            </form>
                        </div>
                        <a href="https://drive.google.com/uc?export=download&id=1Lg7iQZf_N3bwSjutnlWAJwF5mlPXERai" class="btn btn-redirect">DESCARGAR FORMATO EXCEL</a>
                    </div>
                </div>
                <div class="con5">
                    <div class="title_cont3">
                        <span class="icon-bookmark14"></span>
                        <h3 class="energize-title">CATÁLOGOS</h3>
                    </div>
                    <div class="buttons">
                        <a href="{% url 'dashboards:catalogoProductos' %}" class="btn btn-redirect">
                            Catálogos de productos
                        </a>
                        <a href="{% url 'dashboards:catalogoRenovadores' %}" class="btn btn-redirect">
                            Catálogos de renovadores
                        </a>
                        <a href="{% url 'dashboards:catalogoDesechos' %}" class="btn btn-redirect">
                            Catálogos de desechos
                        </a>
                        <a href="https://drive.google.com/uc?export=download&id=1Lg7iQZf_N3bwSjutnlWAJwF5mlPXERai" class="btn btn-redirect">
                            Catálogos de metas
                        </a>
                        <a href="https://drive.google.com/uc?export=download&id=1Lg7iQZf_N3bwSjutnlWAJwF5mlPXERai" class="btn btn-redirect">
                            Catálogos de presupuestos
                        </a>
                    </div>
                </div>                                       
            </section>
        </form>
    </div>
<script>

    document.addEventListener('DOMContentLoaded', (e) => {
        inputListener();
        handleSave();
    });

    const inputListener = () => {
        const inputs = document.querySelectorAll('input');
        let activeInput = [];

        inputs.forEach((input) => {
            input.addEventListener('change', (e) => {
                if (e.target.value.length > 0) {
                    document.querySelector('.btn.btn_success').classList.remove('disabled');
                } 
            });
        });
    }

    const handleSave = () => {
        const form = document.querySelector('form');

        document.addEventListener('submit', (e) => {
            if ( e.target === form ) {
                e.preventDefault();
            }
        });
    };

const iconoMenu = document.querySelector('#icono-menu'),
      menu = document.querySelector('#menu');

    iconoMenu.addEventListener('click', (e) => {

        // Alternamos estilos para el menu y body
        menu.classList.toggle('active-burger');
        document.body.classList.toggle('opacity');

        // Alternamos su atributo 'src' para el ícono del menú
        const rutaActual = e.target.getAttribute('src');

        if(rutaActual == '{% static 'images/open-menu.png' %}'){
            e.target.setAttribute('src','{% static 'images/open-menu2.png' %}');
        }else{
            e.target.setAttribute('src','{% static 'images/open-menu.png' %}');
        }
    });
</script>
</body>
</html>