{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/detail2.css' %}">
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/diagrama.css' %}"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@5/dark.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <title>Edición Manua l</title>
{% endblock %}

{% block content %}
    <div class="main-cont animate__animated animate__fadeIn">

      <header class="head-cont">
        <div class="logo">
          <img src="{% static 'images/aeto.svg' %}" alt="logo aeto">
        </div>

        <h1 class="main-title">Edición manual</h1>
      </header>

      <main class="main__container">
        <div class="config__container">
         
          <div class="relative">
            <div class="absolute">

              {% for eje in ejes %}

                {% if eje|length == 2 %}

                  <div class="par-llantas ejes__{{cant_ejes|safe}}">
                    <div class="tire">
                      <div class="tire__top {{style|safe}}">
                        <span class="tire__data">
                          0
                        </span>
                      </div>

                      <div class="tire__medium {{style|safe}}">
                        <span class="tire__data">
                          {{eje.0.0.posicion}}
                        </span>
                      </div>
                      
                      <span class="icon-tire2"></span>
                      
                      <div class="tire__bottom {{eje.0.1}}">
                          <span class="tire__data">
                            {{eje.0.0.ultima_inspeccion.min_profundidad}}
                          </span>
                      </div>
                    </div>
            
                    <div class="axle">
                      <span class="axle-white"></span>
                    </div>
            
                    <div class="tire">
                      <div class="tire__top {{style|safe}}">
                        <span class="tire__data">
                          {{eje.1.0.presion_de_entrada}}
                        </span>
                      </div>

                      <div class="tire__medium {{style|safe}}">
                        <span class="tire__data">
                          {{eje.1.0.posicion}}
                        </span>
                      </div>
                      
                      <span class="icon-tire2"></span>
                      
                      <div class="tire__bottom {{eje.1.1}}">
                          <span class="tire__data">
                            {{eje.1.0.ultima_inspeccion.min_profundidad}}
                          </span>
                      </div>
                    </div>
                  </div>

                {% else %}

                  <div class="par-doble-llanta ejes__{{cant_ejes|safe}}">
                    <div class="double-tire">
                      <div class="tire">
                        <div class="tire__top {{style|safe}}">
                          <span class="tire__data">
                            {{eje.0.0.presion_de_entrada}}
                          </span>
                        </div>

                        <div class="tire__medium {{style|safe}}">
                          <span class="tire__data">
                            {{eje.0.0.posicion}}
                          </span>
                        </div>
                        
                        <span class="icon-tire2"></span>
                        
                        <div class="tire__bottom {{eje.0.1}}">
                            <span class="tire__data">
                              {{eje.0.0.ultima_inspeccion.min_profundidad}}
                            </span>
                        </div>
                      </div>
                      <div class="tire">
                        <div class="tire__top {{style|safe}}">
                          <span class="tire__data">
                            {{eje.1.0.presion_de_entrada}}
                          </span>
                        </div>

                        <div class="tire__medium {{style|safe}}">
                          <span class="tire__data">
                            {{eje.1.0.posicion}}
                          </span>
                        </div>
                        
                        <span class="icon-tire2"></span>
                        
                        <div class="tire__bottom {{eje.1.1}}">
                            <span class="tire__data">
                              {{eje.1.0.ultima_inspeccion.min_profundidad}}
                            </span>
                        </div>
                      </div>
                    </div>
            
                    <div class="axle"></div>
            
                    <div class="double-tire">
                      <div class="tire">
                        <div class="tire__top {{style|safe}}">
                          <span class="tire__data">
                            {{eje.2.0.presion_de_entrada}}
                          </span>
                        </div>

                        <div class="tire__medium {{style|safe}}">
                          <span class="tire__data">
                            {{eje.2.0.posicion}}
                          </span>
                        </div>
                        
                        <span class="icon-tire2"></span>
                        
                        <div class="tire__bottom {{eje.2.1}}">
                            <span class="tire__data">
                              {{eje.2.0.ultima_inspeccion.min_profundidad}}
                            </span>
                        </div>
                      </div>
                      <div class="tire">
                        <div class="tire__top {{style|safe}}">
                          <span class="tire__data">
                            {{eje.3.0.presion_de_entrada}}
                          </span>
                        </div>

                        <div class="tire__medium {{style|safe}}">
                          <span class="tire__data">
                            {{eje.3.0.posicion}}
                          </span>
                        </div>
                        
                        <span class="icon-tire2"></span>
                        
                        <div class="tire__bottom {{eje.3.1}}">
                            <span class="tire__data">
                              {{eje.3.0.ultima_inspeccion.min_profundidad}}
                            </span>
                        </div>
                      </div>
                    </div>
                  </div>

                {% endif %}

              {% endfor %}

            </div>
          </div>

        </div>

        <div class="forms__container">
          <div class="form__container">
            <form action="" class="form__wrapper">

              <legend>
                <h2>Vehículo</h2>
              </legend>

              <!-- Start input -->
              <div class="form__group field">
                <input
                  class="form__field"
                  type="text"
                  placeholder="vehiculo"
                  name="vehiculo"
                  autocomplete="off"
                />
                <label for="vehiculo" class="form__label">
                  KM de vehículo
                </label>
              </div>
              <!-- End input -->

              <nav class="flex-row">
                <button type="submit" class="btn btn-success disabled">
                  <span class="icon-checkmark"></span>
                </button>
              </nav>
            </form>
          </div>
  
          <div class="form__container">
  
            <form action="" class="form__wrapper" id="tire-form">
  
              <!-- Start input -->
              <div class="form__group field">
                <input
                  class="form__field"
                  type="number"
                  placeholder="economico"
                  name="economico"
                  autocomplete="off"
                  required
                />
                <label for="economico" class="form__label">
                  Número económico
                </label>
              </div>
              <!-- End input -->
  
              <!-- Start input -->
              <div class="form__group field">
                <input
                  class="form__field"
                  type="text"
                  placeholder="producto"
                  name="producto"
                  autocomplete="off"
                  required
                />
                <label for="producto" class="form__label">
                  Producto
                </label>
              </div>
              <!-- End input -->
  
              <!-- Start input -->
              <div class="form__group field">
                <input
                  class="form__field"
                  type="text"
                  placeholder="vida"
                  name="vida"
                  autocomplete="off"
                  required
                />
                <label for="vida" class="form__label">
                  Vida
                </label>
              </div>
              <!-- End input -->
  
              <!-- Start input -->
              <div class="form__group field">
                <input
                  class="form__field"
                  type="text"
                  placeholder="montado"
                  name="montado"
                  autocomplete="off"
                  required
                />
                <label for="montado" class="form__label">
                  KM de montado
                </label>
              </div>
              <!-- End input -->
  
              <div>
                <label for="reemplazar" class="input-check">
                  Reemplazar
                  <input type="checkbox" name="reemplazar" id="reemplazar" />
                  <span class="checkmark"></span>
                </label>
              </div>
  
              <nav class="flex-row">
                <button type="submit" class="btn btn-success" title="Enviar">
                  <span class="icon-checkmark"></span>
                </button>
              </nav>
            </form>
          </div>
        </div>
        
      </main>
    </div>

    <script>

      document.addEventListener('DOMContentLoaded', (e) => {
        onSelectTire();
        confirmAlert();
        handleForms();
      });

      const handleForms = () => {
        const forms = document.querySelectorAll('form');

        forms[0].addEventListener('submit', (e) => {
          if (forms[0].querySelector('input').value === '') {
            e.preventDefault();
            alert('El campo no puede estar vacío');
            forms[0].querySelector('input').focus();
          }
        });
      }

      const confirmAlert = () => {
        const form = document.getElementById('tire-form');

        form.addEventListener('submit', (e) => {
          e.preventDefault();

          const alert = Swal.fire({
            title: 'Confirmación',
            text: '¿Seguro que desea continuar?',
            icon: 'question',
            confirmButtonText: 'Si',
            backdrop: true,
            showDenyButton: true,
            allowOutsideClick: false,
            allowEscapeKey: false,
          }).then(res => {
            (res.value) && form.submit();
          } )
          
        });
      };

      const onSelectTire = () => {
        const tires = document.querySelectorAll('.icon-tire2');

        tires.forEach(tire => {
          tire.addEventListener('click', (e) => {
            tires.forEach(tire => tire.classList.remove('select'));

            tire.classList.add('select');
          });
        });
      };
    
    </script>
{% endblock %}
