{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/detail2.css' %}">
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/diagrama.css' %}"
    />
    <title>Edición Manual</title>
{% endblock %}

{% block content %}
    <div class="main-cont">

      <header class="head-cont">
        <div class="logo">
          <img src="{% static 'images/aeto.svg' %}" alt="logo aeto">
        </div>

        <h1 class="main-title">Edición manual</h1>
      </header>

      <main class="main__container">
        <div class="config__container">
          {% if configuracion == "S2.C2.D2" %}
            {% include "configurations/s2d4c4.html" %}
          {% endif %}

          {% if configuracion == "S2.D4.D4" %}
              {% include "configurations/s2d4d4.html" %}
          {% endif %}

          {% if configuracion == "S2.D2.D4" %}
              {% include "configurations/s2d2d4.html" %}
          {% endif %}

          {% if configuracion == "S2.D4" %}
              {% include "configurations/s2d4.html" %}
          {% endif %}

          {% if configuracion == "S2.D4.D2" %}
              {% include "configurations/s2d4d2.html" %}
          {% endif %}

          {% if configuracion == "S2.D4.D2.D4" %}
              {% include "configurations/s2d4d4d4.html" %}
          {% endif %}

          {% if configuracion == "S2.L2.D4.D4" %}
              {% include "configurations/s2l2d4d4.html" %}
          {% endif %}

          {% if configuracion == "S2.L4.D4.D4" %}
              {% include "configurations/s2l4d4d4.html" %}
          {% endif %}

          {% if configuracion == "S2.C2.D2" %}
              {% include "configurations/s2c2d2.html" %}
          {% endif %}

          {% if configuracion == "S2.C4.D4" %}
              {% include "configurations/s2c4d4.html" %}
          {% endif %}

          {% if configuracion == "S2.D2.C2"  %}
              {% include "configurations/s2d2c2.html" %}
          {% endif %}

          {% if configuracion == "S2.D2.D2" %}
              {% include "configurations/s2d2d2.html" %}                        
          {% endif %}                        

          {% if configuracion == "T2" %}
              {% include "configurations/t2.html" %}
          {% endif %}

          {% if configuracion == "T2.T2" %}
              {% include "configurations/t2t2.html" %}
          {% endif %}

          {% if configuracion == "T4" %}
              {% include "configurations/t4.html" %}
          {% endif %}

          {% if configuracion == "T4.T4" %}
              {% include "configurations/t4t4.html" %}
          {% endif %}

          {% if configuracion == "T4.T4.T4" %}
              {% include "configurations/t4t4t4.html" %}
          {% endif %}
        </div>

        <div class="form__container">
          <form action="" class="form__wrapper">
            <!-- Start input -->
            <div class="form__group field">
              <input
                class="form__field"
                type="number"
                placeholder="economico"
                name="economico"
                autocomplete="off"
                required
              />
              <label for="economico" class="form__label">
                Número económico
              </label>
            </div>
            <!-- End input -->

            <!-- Start input -->
            <div class="form__group field">
              <input
                class="form__field"
                type="text"
                placeholder="producto"
                name="producto"
                autocomplete="off"
                required
              />
              <label for="producto" class="form__label">
                Producto
              </label>
            </div>
            <!-- End input -->

            <!-- Start input -->
            <div class="form__group field">
              <input
                class="form__field"
                type="text"
                placeholder="vida"
                name="vida"
                autocomplete="off"
                required
              />
              <label for="vida" class="form__label">
                Vida
              </label>
            </div>
            <!-- End input -->

            <!-- Start input -->
            <div class="form__group field">
              <input
                class="form__field"
                type="text"
                placeholder="montado"
                name="montado"
                autocomplete="off"
                required
              />
              <label for="montado" class="form__label">
                KM de montado
              </label>
            </div>
            <!-- End input -->

            <!-- Start input -->
            <div class="form__group field">
              <input
                class="form__field"
                type="text"
                placeholder="vehiculo"
                name="vehiculo"
                autocomplete="off"
                required
              />
              <label for="vehiculo" class="form__label">
                KM de vehículo
              </label>
            </div>
            <!-- End input -->

            <nav class="flex-row">
              <button type="submit" class="btn btn-success" title="Enviar">
                <span class="icon-checkmark"></span>
              </button>
              <button type="reset" class="btn btn-danger" title="Borrar">
                <span class="icon-trash"></span>
              </button>
            </nav>
          </form>
        </div>
      </main>
    </div>

    <script>

      const manualEdit = () => {
        const tireTitle = document.getElementById('tire-title'),
          economicNumber = document.getElementById('economic-number');

        document.addEventListener('click', ({ target }) => {
          if (target.matches('.icon-tire2')) {

            document.querySelectorAll('.select').forEach(item => item.classList.remove('select')); // limpiando las llantas
            target.classList.add('select'); // Agregando la clase de selección

            tireTitle.textContent = `Tire #${target.getAttribute(
              'data-tire-id' 
            )}`; // Titulo de la llanta

            economicNumber.setAttribute(
              // Colocando el numero economico en el input
              'value',
              Math.floor(Math.random() * 1000)
            );

          }
        });

      };

      // manualEdit();
    </script>
{% endblock %}
