<aside class="filter-menu">
  <button class="btn btn-close">
    <span class="icon-cross"></span>
  </button>

  <form class="filter-form">
    <h2>Filtros</h2>

    <div class="control-group">
      <label for="">
        <strong>
          Producto
        </strong>
      </label>
      <input type="text" list="product" class="form-control" />
      <datalist id="product">
        <option value="option 1"></option>
        <option value="option 2"></option>
        <option value="option 3"></option>
        <option value="option 4"></option>
        <option value="option 5"></option>
      </datalist>
    </div>

    <div class="control-group">
      <label for="profundidad">
        <strong>
          Profundidad
        </strong>
      </label>

      <div class="price-input">
        <div class="field">
          <strong>Min</strong>
          <input type="number" class="input-min form-control" value="25">
        </div>
        <div class="separator">-</div>
        <div class="field">
          <strong>Max</strong>
          <input type="number" class="input-max form-control" value="75">
        </div>
      </div>

      <div class="slide-container">
        <div class="slider">
          <div class="progress"></div>
        </div>
  
        <div class="range-input">
          <input type="range" class="range-min" min="0" max="100" value="25">
          <input type="range" class="range-max" min="0" max="100" value="75">
        </div>  
      </div>
      
    </div>

    <div class="control-group">
      <label for="">
        <strong>
          Fecha
        </strong>
      </label>
      <div class="control-group">
        <label for="from">Desde: </label>
        <input type="date" name="from" id="from" class="form-control" multiple/>
      </div>
      <div class="control-group">
        <label for="to">Hasta: </label>
        <input type="date" name="to" id="to" class="form-control" />
      </div>
    </div>

    <nav class="form-nav">
      <button type="submit" class="btn btn-success">Filtrar</button>
      <button type="reset" class="btn btn-danger">Eliminar filtros</button>
    </nav>
  </form>
</aside>
