{% extends 'base.html' %}

{% block head %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/planTaller.css' %}" />
  <title>Taller</title>
{% endblock head %}
{% block content %}
  <main class="all-cont">
    <div class="head-cont">
      <div class="logo">
        <img src="{% static 'images/aeto.svg' %}" alt="logo" />
      </div>
      <form id="taller-form" class="title-cont" method='POST'>
        {% csrf_token %}
        <input type="hidden" name="hoja" value="" id="hoja-servicio">
        <input type="hidden" name="data" value="" id="data-taller">
        <input type="hidden" name="vehiculo" value="" id="vehiculo-data">
        <button type="submit">
          <span class="icon-checkmark"></span>
        </button>
      </form>
    </div>
    <div class="container">
      <aside class="left-cont">
        <form class="service-page">
          <h3>Hoja de Servicio</h3>
          <div class="form__row">
            <input type="text" name="folio" value="123456789" placeholder="Folio" readonly>
          </div>
          <div class="form__row">
            <input type="datetime-local" name="fecha" readonly placeholder="Fecha" value="2022-06-12T19:30">
            <!-- <input
              type="datetime-local"
              id="meeting-time"
              name="meeting-time"
              value="2018-06-12T19:30"
              min="2018-06-07T00:00"
              max="2018-06-14T00:00"
            > -->
          </div>
          <div class="form__row">
            <input type="text" name="usuario" value="" placeholder="Usuario" readonly>
          </div>
          <div class="form__row">
            <input type="text" name="vehiculoEconomico" value="" placeholder="Número económico" readonly>
          </div>
          <div class="form__row">
            <input type="text" name="sucursal" value="" placeholder="Sucursal" readonly>
          </div>
          <div class="form__row">
            <input type="text" name="aplicacion" value="" placeholder="Aplicación" readonly>
          </div>

          <button type="submit">
            Guardar
          </button>

        </form>

        <div class="relative">
          <div class="absolute">
            <div class="tire-list"></div>
          </div>
        </div>
      </aside>
      <div class="main-cont">

        {% for vehiculo in vehiculo_acomodado %}
          {% include 'taller/config_vehicle.html' %}
        {% endfor %}

      </div>
    </div>

    {% for vehiculo in vehiculo_acomodado %}
      {% for eje in vehiculo.ejes %}
        {% for llanta in eje %}
          {% include 'taller/modal.html' %}
        {% endfor %} 
      {% endfor %}
    {% endfor %}
    
  </main>


  <script src="{% static 'js/taller/index.js' %}" type="module"></script>
{% endblock content %}