<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/reporteVehiculo.css' %}" />
    <link rel="stylesheet" href="{% static 'css/reporteLlanta.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/icomoon/style.css' %}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
  </head>
  <body>
    <aside>
      <button type="button" class="btn btn-download" id="btn-print">
        <span class="icon-printer8"></span>
      </button>
    </aside>
    <main class="all-cont" id="reporte">
      <div class="title">
        <img class="img-pulpo" src="{% static 'images/pulpo.png' %}" alt="" />
        <h1 class="main-title">Pulpo Report</h1>
      </div>
      <div class="header">
        <img
          class="img-logo"
          src="{% static 'images/pulpo.png' %}"
          alt="pulpo"
        />
        <h4 class="user">Numero economico: {{llanta}}</h4>
        <h4>Fecha Reporte: {{hoy}}</h4>
      </div>
      <div class="container">
        <div class="leftcolumn">
          <h2>ENTRADA</h2>
          <h3>Presión: {{bitacora.presion_de_entrada}}</h3>
          <div id="llanta" class="{{color1}}"></div>
          <span class="{{signo1}}"></span>
        </div>
        <span class="icon-arrow-right2"></span>
        <div class="rightcolumn">
          <h2>SALIDA</h2>
          <h3>Presión: {{bitacora.presion_de_salida}}</h3>
          <div id="llanta" class="{{color2}}"></div>
          <span class="{{signo2}}"></span>
        </div>
      </div>
      <div class="text">
        <h3>Tiempo de Inflado: {{bitacora.tiempo_de_inflado}}</h3>
        <h3 class="text-center">
          Usuario: {{user}}
        </h3>
      </div>
    </main>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
      integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>

    document.addEventListener('DOMContentLoaded', (e) => {
      printBtn();
    })

    const print = () => {
        const $elementoParaConvertir = document.getElementById('reporte'); // <-- Aquí puedes elegir cualquier elemento del DOM
        html2pdf()
          .set({
            margin: .25,
            filename: 'reporte-llanta-{{llanta}}.pdf',
            image: {
              type: 'jpeg',
              quality: 0.98,
            },
            html2canvas: {
              scale: 3, // A mayor escala, mejores gráficos, pero más peso
              letterRendering: true,
            },
            jsPDF: {
              unit: 'in',
              format: 'letter',
              orientation: 'portrait', // landscape o portrait
            },
          })
          .from($elementoParaConvertir)
          .save()
          .catch((err) => console.log(err));
      };

      const printBtn = () => {
        const button = document.getElementById('btn-print');

        button.addEventListener('click', print);
      };

      const Llanta = () => {
        //Creando un web component
        const llantas = document.querySelectorAll('#llanta');

        llantas.forEach((llanta) => {
          llanta.innerHTML = `
                {% include 'tireSvg.html' %}

                <div class="pop-out-llanta"></div>
                `;
        });
      };

      Llanta();
    </script>
  </body>
</html>
