<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <link rel="stylesheet" href="{% static 'css/reporteVehiculo.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="shortcut icon" href="{% static 'images/logo-border.png' %}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/icomoon/style.css' %}"
    />
    <title>Reporte Vehiculo {{bitacora}}</title>
</head>
<body>
  <aside>
    <button class="btn btn-download" id="btn-print">
      <span class="icon-printer8"></span>
    </button>
  </aside>
  <main class="report" id="reporte">
    <div class="title">
      <nav class="flex-row">
        <img class="img-pulpo" src="/static/images/logo-aeto.png" alt="logo">
        <h1 class="main-title">Pulpo Report</h1>
      </nav>
      <div class="header">
        <h4 class="user">Numero economico: {{bitacora}}</h4>
        <h4 class="date">Fecha Reporte: {{hoy}}</h4>
      </div>
    </div>
    <div class="container">
      <div class="leftcolumn">
        <h2>ENTRADA</h2>
        <div class="configA">

          {% for eje in ejes %}
            {% if eje|length == 2 %}

            <div class="ejeDireccion">
  
              <div class="cont-llanta">
                <h4 class="presion">{{bitacora.presion_de_entrada}}</h4>
                <div id="llanta" class={{color1}}></div>
                <span class={{signo1}}></span>
              </div>
    
              <div class="shaft">
                <svg
                  width="792pt"
                  height="61pt"
                  viewBox="0 0 792 61"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g id="#7f7f7f7f"></g>
                  <g id="#ffffffff">
                    <path
                      opacity="1.00"
                      d=" M 1.01 1.00 C 264.67 1.00 528.34 1.00 792.00 1.00 L 792.00 61.00 L 1.00 61.00 C 1.01 41.00 0.99 21.00 1.01 1.00 Z"
                    />
                  </g>
                </svg>
              </div>
    
              <div class="cont-llanta">
                <h4 class="presion">{{bitacora.presion_de_entrada}}</h4>
                <div id="llanta" class={{color1}}></div>
                <span class={{signo1}}></span>
              </div>
            </div>

            {% else %}

            <div class="ejeTraccionTD">
              <div class="cont-llanta">
                <h4 class="presion">{{bitacora.presion_de_entrada}}</h4>
                <div id="llanta" class={{color1}}></div>
                <span class={{signo1}}></span>
              </div>
              <div class="cont-llanta">
                <h4 class="presion">{{bitacora.presion_de_entrada}}</h4>
                <div id="llanta" class={{color1}}></div>
                <span class={{signo1}}></span>
              </div>
    
              <div class="c-shaft">
                <svg
                  width="84pt"
                  height="59pt"
                  viewBox="0 0 84 59"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g id="#7f7f7f7f"></g>
                  <g id="#ffffffff">
                    <path
                      opacity="1.00"
                      d=" M 1.00 1.01 C 28.67 0.99 56.33 1.00 84.00 1.00 L 84.00 59.00 L 1.00 59.00 C 1.00 39.67 0.99 20.34 1.00 1.01 Z"
                    />
                  </g>
                </svg>
              </div>
    
              <div class="cont-llanta">
                <h4 class="presion">{{bitacora.presion_de_entrada}}</h4>
                <div id="llanta" class={{color1}}></div>
                <span class={{signo1}}></span>
    
              </div>
              <div class="cont-llanta">
                <h4 class="presion">{{bitacora.presion_de_entrada}}</h4>
                <div id="llanta" class={{color1}}></div>
                <span class={{signo1}}></span>
              </div>
            </div>
            
            {% endif %}
          {% endfor %}

        </div>
      </div>
      <span class="icon-arrow-right2"></span>
      <div class="rightcolumn">
        <h2>SALIDA</h2>
        <div class="configA">

        {% for eje in ejes %}
        {% if eje|length == 2 %}

        <div class="ejeDireccion">
          <div class="cont-llanta">
            <h4 class="presion">{{bitacora.presion_de_salida}}</h4>
            <div id="llanta" class={{color2}}></div>
            <span class={{signo2}}></span>
          </div>

          <div class="shaft">
            <svg
              width="792pt"
              height="61pt"
              viewBox="0 0 792 61"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g id="#7f7f7f7f"></g>
              <g id="#ffffffff">
                <path
                  opacity="1.00"
                  d=" M 1.01 1.00 C 264.67 1.00 528.34 1.00 792.00 1.00 L 792.00 61.00 L 1.00 61.00 C 1.01 41.00 0.99 21.00 1.01 1.00 Z"
                />
              </g>
            </svg>
          </div>

          <div class="cont-llanta">
            <h4 class="presion">{{bitacora.presion_de_salida}}</h4>
            <div id="llanta" class={{color2}}></div>
            <span class={{signo2}}></span>
          </div>
        </div>

        {% else %}

        <div class="ejeTraccionTD">
          <div class="cont-llanta">
            <h4 class="presion">{{bitacora.presion_de_salida}}</h4>
            <div id="llanta" class={{color2}}></div>
            <span class={{signo2}}></span>
          </div>
          <div class="cont-llanta">
            <h4 class="presion">{{bitacora.presion_de_salida}}</h4>
            <div id="llanta" class={{color2}}></div>
            <span class={{signo2}}></span>
          </div>

          <div class="c-shaft">
            <svg
              width="84pt"
              height="59pt"
              viewBox="0 0 84 59"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g id="#7f7f7f7f"></g>
              <g id="#ffffffff">
                <path
                  opacity="1.00"
                  d=" M 1.00 1.01 C 28.67 0.99 56.33 1.00 84.00 1.00 L 84.00 59.00 L 1.00 59.00 C 1.00 39.67 0.99 20.34 1.00 1.01 Z"
                />
              </g>
            </svg>
          </div>

          <div class="cont-llanta">
            <h4 class="presion">{{bitacora.presion_de_salida}}</h4>
            <div id="llanta" class={{color2}}></div>
            <span class={{signo2}}></span>
          </div>
          <div class="cont-llanta">
            <h4 class="presion">{{bitacora.presion_de_salida}}</h4>
            <div id="llanta" class={{color2}}></div>
            <span class={{signo2}}></span>
          </div>
        </div>

        {% endif %}
      {% endfor %}
        </div>
      </div>
    </div>
    <div class="text">
      <h3 class="text-center">Tiempo de Inflado: {{bitacora.tiempo_de_inflado}}</h3>
      <h4 class="text-center">Usuario: {{user}}</h4>
    </div>
  </main>

  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
      integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
  ></script>
  
  <script>

  document.addEventListener('DOMContentLoaded', (e) => {
    printBtn();
  });

  const print = () => {
    const $elementoParaConvertir = document.getElementById('reporte'); // <-- Aquí puedes elegir cualquier elemento del DOM
    html2pdf()
      .set({
        margin: .25,
        filename: 'reporte-vehiculo-{{bitacora}}.pdf',
        image: {
          type: 'jpeg',
          quality: 0.98,
        },
        html2canvas: {
          scale: 3, // A mayor escala, mejores gráficos, pero más peso
          letterRendering: true,
        },
        jsPDF: {
          unit: 'in',
          format: 'letter',
          orientation: 'portrait', // landscape o portrait
        },
      })
      .from($elementoParaConvertir)
      .save()
      .catch((err) => console.log(err));
  };

  const printBtn = () => {
    const button = document.getElementById('btn-print');

    button.addEventListener('click', print);
  };

    const Llanta = () => {
      //Creando un web component
      const llantas = document.querySelectorAll('#llanta');
  
      llantas.forEach((llanta) => {
        llanta.innerHTML = `
              {% include 'tireSvg.html' %}
  
              <div class="pop-out-llanta"></div>
              `;
      });
    };
      
    Llanta();
  </script>
</body>
</html>
