{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/diagrama.css' %}">
    <link rel="stylesheet" href="{% static 'css/detail2.css' %}">
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/tireDiagrama.css' %}"
    />
    <title>Edición Manual</title>
{% endblock %}

{% block content %}

<div class="main-cont">
  <header class="head-cont">
    <div class="logo"><img src="{% static 'images/aeto.svg' %}" alt="logo aeto"></div>

    <h1>
      Edición Manual
    </h1>
  </header>

  <main class="main__container">

    <div class="tire__container">
      <div class="tire">
        <div class="tire__top good">
          <span class="tire__data">
            0
          </span>
        </div>

        <div class="tire__medium good">
          <span class="tire__data">
              1LO
          </span>
        </div>
        
        <span class="icon-tire2"></span>
        
        <div class="tire__bottom good">
            <span class="tire__data">
              0
            </span>
        </div>
      </div>
    </div>

    <div class="forms__container">
      <div class="form__container">
        <form action="" class="form__wrapper">

          <legend>
            <h2>Vehículo</h2>
          </legend>

          <!-- Start input -->
          <div class="form__group field">
            <input
              class="form__field"
              type="text"
              placeholder="vehiculo"
              name="vehiculo"
              autocomplete="off"
            />
            <label for="vehiculo" class="form__label">
              KM de vehículo
            </label>
          </div>
          <!-- End input -->

          <nav class="flex-row">
            <button type="submit" class="btn btn-success disabled">
              <span class="icon-checkmark"></span>
            </button>
          </nav>
        </form>
      </div>

      <div class="form__container">

        <form action="" class="form__wrapper" id="tire-form">

          <!-- Start input -->
          <div class="form__group field">
            <input
              class="form__field"
              type="number"
              placeholder="economico"
              name="economico"
              autocomplete="off"
              required
            />
            <label for="economico" class="form__label">
              Número económico
            </label>
          </div>
          <!-- End input -->

          <!-- Start input -->
          <div class="form__group field">
            <input
              class="form__field"
              type="text"
              placeholder="producto"
              name="producto"
              autocomplete="off"
              required
            />
            <label for="producto" class="form__label">
              Producto
            </label>
          </div>
          <!-- End input -->

          <!-- Start input -->
          <div class="form__group field">
            <input
              class="form__field"
              type="text"
              placeholder="vida"
              name="vida"
              autocomplete="off"
              required
            />
            <label for="vida" class="form__label">
              Vida
            </label>
          </div>
          <!-- End input -->

          <!-- Start input -->
          <div class="form__group field">
            <input
              class="form__field"
              type="text"
              placeholder="montado"
              name="montado"
              autocomplete="off"
              required
            />
            <label for="montado" class="form__label">
              KM de montado
            </label>
          </div>
          <!-- End input -->

          <nav class="flex-row">
            <button type="submit" class="btn btn-success" title="Enviar">
              <span class="icon-checkmark"></span>
            </button>
          </nav>
        </form>
      </div>
    </div>

  </main>
</div>
    
{% endblock %}
