<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="nombre"
    name="nombre"
    autocomplete="off"
    required
  />
  <label for="nombre" class="form__label">
    Nombre
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="periodo-inflado-1"
    name="periodo-inflado-1"
    autocomplete="off"
    required
  />
  <label for="periodo-inflado-1" class="form__label">
    Periodo de inflado 1
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="periodo-inflado-2"
    name="periodo-inflado-2"
    autocomplete="off"
    required
  />
  <label for="periodo-inflado-2" class="form__label">
    Periodo de inflado 2
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="presion-fuera-rango"
    name="presion-fuera-rango"
    autocomplete="off"
    required
  />
  <label for="presion-fuera-rango" class="form__label">
    Presion fuera de rango
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="periodo-sin-vista-1"
    name="periodo-sin-vista-1"
    autocomplete="off"
    required
  />
  <label for="periodo-sin-vista-1" class="form__label">
    Periodo sin vista 1
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="periodo-sin-vista-2"
    name="periodo-sin-vista-2"
    autocomplete="off"
    required
  />
  <label for="periodo-sin-vista-2" class="form__label">
    Periodo sin vista 2
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="retiro-direccion"
    name="retiro-direccion"
    autocomplete="off"
    required
  />
  <label for="retiro-direccion" class="form__label">
    Retiro direccion
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="retiro-traccion"
    name="retiro-traccion"
    autocomplete="off"
    required
  />
  <label for="retiro-traccion" class="form__label">
    Retiro tracción
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="retiro-arrastre"
    name="retiro-arrastre"
    autocomplete="off"
    required
  />
  <label for="retiro-arrastre" class="form__label">
    Retiro arrastre
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="retiro-loco"
    name="retiro-loco"
    autocomplete="off"
    required
  />
  <label for="retiro-loco" class="form__label">
    Retiro loco
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="retiro-retractil"
    name="retiro-retractil"
    autocomplete="off"
    required
  />
  <label for="retiro-retractil" class="form__label">
    Retiro retractil
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="profundidad-descuate"
    name="profundidad-descuate"
    autocomplete="off"
    required
  />
  <label for="profundidad-descuate" class="form__label">
    Profundidad de descuate
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="profundidad-descuate-irregular"
    name="profundidad-descuate-irregular"
    autocomplete="off"
    required
  />
  <label for="profundidad-descuate-irregular" class="form__label">
    Profundidad de descuate irregular
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="valor-casco-nuevo"
    name="valor-casco-nuevo"
    autocomplete="off"
    required
  />
  <label for="valor-casco-nuevo" class="form__label">
    Valor de casco nuevo
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="valor-casco-1r"
    name="valor-casco-1r"
    autocomplete="off"
    required
  />
  <label for="valor-casco-1r" class="form__label">
    Valor de casco 1R
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="valor-casco-2r"
    name="valor-casco-2r"
    autocomplete="off"
    required
  />
  <label for="valor-casco-2r" class="form__label">
    Valor de casco 2R
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="valor-casco-3r"
    name="valor-casco-3r"
    autocomplete="off"
    required
  />
  <label for="valor-casco-3r" class="form__label">
    Valor de casco 3R
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="valor-casco-4r"
    name="valor-casco-4r"
    autocomplete="off"
    required
  />
  <label for="valor-casco-4r" class="form__label">
    Valor de casco 4R
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="valor-casco-5r"
    name="valor-casco-5r"
    autocomplete="off"
    required
  />
  <label for="valor-casco-5r" class="form__label">
    Valor de casco 5R
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="unidades-presion"
    name="unidades-presion"
    autocomplete="off"
    required
  />
  <label for="unidades-presion" class="form__label">
    Unidades de presión
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="unidades-distancia"
    name="unidades-distancia"
    autocomplete="off"
    required
  />
  <label for="unidades-distancia" class="form__label">
    Unidades de distancia
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="unidades-profundidad"
    name="unidades-profundidad"
    autocomplete="off"
    required
  />
  <label for="unidades-profundidad" class="form__label">
    Unidades de profundidad
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="parametro-desgaste-sospechoso"
    name="parametro-desgaste-sospechoso"
    autocomplete="off"
    required
  />
  <label for="parametro-desgaste-sospechoso" class="form__label small-text">
    Parametros de desgaste sospechoso
  </label>
</div>
<!-- End input -->
