<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="Modelo"
    name="modelo"
    autocomplete="off"
    required
  />
  <label for="modelo" class="form__label"> Modelo </label>
  <datalist id=""></datalist>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="Modelo"
    name="modelo"
    autocomplete="off"
    required
    list=""
  />
  <label for="modelo" class="form__label"> Marca </label>
  <datalist id=""></datalist>
</div>
<!-- End input -->

<label for="aplicacion" class="select-label"> Aplicación </label>
<select name="aplicacion" id="aplicacion" class="select-input">
  <option value="">Selecciona una aplicación...</option>
</select>

<label for="clase" class="select-label"> Clase </label>
<select name="clase" id="clase" class="select-input">
  <option value="">Selecciona una clase...</option>
</select>

<label for="configuracion" class="select-label"> Configuración </label>
<select name="configuracion" id="configuracion" class="select-input">
  <option value="">Selecciona una configuración...</option>
</select>

<div class="flex-row">
  <!-- Start input -->
  <div class="form__group field">
    <input
      class="form__field"
      type="number"
      placeholder="Presión establecida 1"
      name="presion1"
      autocomplete="off"
      required
    />
    <label for="modelo" class="form__label"> Presión establecida 1</label>
  </div>
  <!-- End input -->

  <!-- Start input -->
  <div class="form__group field">
    <input
      class="form__field"
      type="number"
      placeholder="Presión establecida 2"
      name="presion2"
      autocomplete="off"
      required
    />
    <label for="modelo" class="form__label"> Presión establecida 2</label>
  </div>
  <!-- End input -->
</div>

<div class="flex-row">
  <!-- Start input -->
  <div class="form__group field">
    <input
      class="form__field"
      type="number"
      placeholder="Presión establecida 3"
      name="presion3"
      autocomplete="off"
      required
    />
    <label for="modelo" class="form__label"> Presión establecida 3</label>
  </div>
  <!-- End input -->

  <!-- Start input -->
  <div class="form__group field">
    <input
      class="form__field"
      type="number"
      placeholder="Presión establecida 4"
      name="presion4"
      autocomplete="off"
      required
    />
    <label for="modelo" class="form__label"> Presión establecida 4</label>
  </div>
  <!-- End input -->
</div>

<div class="flex-row">
  <!-- Start input -->
  <div class="form__group field">
    <input
      class="form__field"
      type="number"
      placeholder="Presión establecida 5"
      name="presion5"
      autocomplete="off"
      required
    />
    <label for="modelo" class="form__label"> Presión establecida 5</label>
  </div>
  <!-- End input -->

  <!-- Start input -->
  <div class="form__group field">
    <input
      class="form__field"
      type="number"
      placeholder="Presión establecida 6"
      name="presion6"
      autocomplete="off"
      required
    />
    <label for="modelo" class="form__label"> Presión establecida 6</label>
  </div>
  <!-- End input -->
</div>

<div class="flex-row">
  <!-- Start input -->
  <div class="form__group field">
    <input
      class="form__field"
      type="number"
      placeholder="Presión establecida 7"
      name="presion7"
      autocomplete="off"
      required
    />
    <label for="modelo" class="form__label"> Presión establecida 7</label>
  </div>
  <!-- End input -->

  <!-- Start input -->
  <div class="form__group field">
    <input
      class="form__field"
      type="number"
      placeholder="KM diario máximo"
      name="km_maximo"
      autocomplete="off"
      required
    />
    <label for="modelo" class="form__label"> KM diario máximo</label>
  </div>
  <!-- End input -->
</div>

<p>
  <strong>Estatus</strong>
</p>

<label for="activo">
  Activo
  <input type="radio" name="estatus" id="activo" value="activo" />
</label>

<label for="inactivo">
  Inactivo
  <input type="radio" name="estatus" id="inactivo" value="inactivo" />
</label>

<p>
  <strong>¿Es nuevo o usado?</strong>
</p>

<label for="nuevo">
  Nuevo
  <input type="radio" name="nuevo" id="nuevo" value="nuevo" />
</label>

<label for="usado">
  Usado
  <input type="radio" name="nuevo" id="usado" value="usado" />
</label>

<nav style="margin-top: 1rem;">
  <button type="submit" class="btn btn-success">
    <i class="icon-checkmark"></i>
  </button>
</nav>
