<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="nombre"
    name="nombre"
    autocomplete="off"
    required
  />
  <label for="nombre" class="form__label">
    Nombre
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="company"
    name="company"
    autocomplete="off"
    required
  />
  <label for="company" class="form__label">
    Compañia
  </label>
</div>
<!-- End input -->

<!-- Start input -->
<div class="form__group field">
  <input
    class="form__field"
    type="text"
    placeholder="sucursal"
    name="sucursal"
    autocomplete="off"
    required
  />
  <label for="sucursal" class="form__label">
    Sucursal
  </label>
</div>
<!-- End input -->